---
import { Image } from "astro:assets";
import logoImg from "../assets/ncmisr.svg";
---

<header>
	<a href="/" class="logo">
		<Image src={logoImg} alt="NCMISR Logo" loading="eager" />
	</a>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
	}
	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.logo img {
		height: 100px;
		width: auto;
	}
	@media (min-width: 720px) {
	    .logo img {
	    	height: 120px;
		}
	}
</style>
